
<div class="card">
    
    <div class="content">
        {{#each properties}}
    <p>You're adopting <b>{{_doc.animalname}} </b>  please write 
        your user's id sow we can register you on 
        on our database.
        <br> <br>
        Thank you for adopting!
    </p>
    
  <label for="name">ID:</label>

  <input type="text" id="name" name="name" >
   <br>
   
   <a href="/animals/adoption/{{_doc.id}}?name"><button>Adopt</button></a>
 </div>
 {{/each}}
 
</div>
