
<div class="card">
    <h1>Adopt me </h1>
    <br><br>
    <div class="content">
    <p>You're adopting {{_doc.breedname}} please write <br>
        your user's id sow we can register you on <br>
        on our database.<br>
        <br>
        Thank you for adopting!
    </p>
    
  <label for="name">ID:</label>

  <input type="text" id="name" name="name" >
 </div>
    <a href="/animals"><button>Adopt</button></a>
</div>
