
<div class="card">
    
    <div class="content">
        {{#each properties}}
    <p>You're adopting <b>{{_doc.animalname}} </b>  please write 
        your user's id sow we can register you on 
        on our database.
        <br> <br>
        Thank you for adopting!
    </p> 
    
 
    <form action="/animals/adoption/{{_doc.id}}" method="POST">
<label for="name">ID:</label>
     <input type="text" id="owner" name="owner" >
     <button>Adopt</button> 
  
  </form>
   <br>
    
 </div>
 {{/each}}
 
</div>
