<h1>Prodsadasfile </h1>
 
<div class="media col-8 mt-2">
        <div class="media-left align-self-center mr-3">
            <img class="rounded-circle" src="{{req.user.name}}"alt="Profile-pic" >
        </div>
        <div class="media-body">
                <h4>Nombre:{{user}}</h4>
                <p >Correo:{{req.user.name}}</p>
                <p >Sexo:  </p>
            </div>
    </div>
 

 