<h1>User profile</h1>
 
<div class="media col-8 mt-2">
        <div class="media-left align-self-center mr-3">
            <img class="rounded-circle" src="{{image}}"alt="Profile-pic" >
        </div>
        <div class="media-body">
                <h4>Nombre: {{name}}</h4>
                <p >Correo: {{email}}</p>
            </div>
</div>
 

 